{% extends 'base.html.twig' %}

{% block title %}Index Centros{% endblock %}

{% block body %}
    <style>
    </style>
    {{ parent() }}

    <h1> {{ controller_name }}</h1>
    {{ dump(pagination) }}


    {# Numero total de los items #}

    <div class="count">
        <h3>Numero total de Centros:</h3>
        {{ pagination.getTotalItemCount }}
    </div>


    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
            </th>
            <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
            </th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.nombre }}</td>
                <td>{{ article.direccion }}</td>
                <td>{{ article.matricula }}</td>
                <td>{{ article.tipo }}</td>
                <td>{{ article.telefono }}</td>
                <td>{{ article.correo }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
